body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

h3 {
    margin-bottom: 8px;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 6px;
}

.info {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
