html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

#map {
    width: 100%;
    height: calc(100vh - 120px);
    border: 1px solid #ccc;
    border-radius: 6px;
}

.info {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color:white
}
h3{
    color:white;
}



